$header: #3264A6;
$light-orange: #FFC6A8;
$medium-red: #FF5461;
$light-red: #FF8984;
$medium-blue: #B7D7D8;
$light-blue: #81B4D4;
$text-header: white;

$light-green: #69AF8F;
$dark-green: #568F75;
$light-yellow:#ECC45A;
$dark-yellow: #CCAA4E;
$light-red: #FD5431;
$dark-red: #BD3D24;

$smartphone: 768px;